# ===============================
# APPLICATION
# ===============================

APP_NAME=
APP_PORT=

# ===============================
# DATABASE
# ===============================

DB_URL=
DB_USERNAME=
DB_PASSWORD=

DB_TIMEZONE=UTC

# ===============================
# JPA / HIBERNATE
# ===============================

JPA_DDL=update
JPA_SHOW_SQL=false
JPA_FORMAT_SQL=false

# ===============================
# CORS
# ===============================

CORS_ALLOWED_ORIGINS=

# ===============================
# JWT AUTH
# ===============================

JWT_SECRET=
JWT_ACCESS_EXP=
JWT_REFRESH_EXP=

# ===============================
# EMAIL CONFIG
# ===============================

MAIL_HOST=
MAIL_PORT=
MAIL_USERNAME=
MAIL_PASSWORD=

# ===============================
# DOCKER / POSTGRES
# ===============================

POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=